<?xml version="1.0"?>
<launch>


  <node pkg="joy" type="joy_node" name="joy_node" output="screen">
  </node>

  <node name="joy_controller" pkg="joy_controller" type="joy_controller" output="screen">
    <!-- <param name="v_max" value="0.75"/>
    <param name="w_max" value="1.0"/>
    <param name="v_acc_max" value="0.01"/>
    <param name="w_acc_max" value="0.03"/>
    <param name="v_dec_max" value="0.025"/>
    <param name="w_dec_max" value="0.1"/>
    <param name="dec_time" value="1.0"/> -->
  </node>

</launch>
