<launch>
    // launch realsense 起動
    <include file="$(find line_detection)/launch/donkey_front_realsense_eco.launch"/>
	

    <!-- realsense_link base_linkにつなげる -->
    <node name="static_tf_publisher_base_to_realsense" 
          pkg="tf" 
          type="static_transform_publisher" 
          args="0.3 0.0 0.214 -0.008 0.4208790204786391 -0.005 base_link front_realsense_link 100" />
    
    // launch line_detection to pointcloud2 -----------------------------------------------------
    <node pkg="line_detection" type="rgbdxyz_check.cpp" name="pointcloud_hsv_filter" output="screen"/>
    <!-- <node pkg="line_detection" type="line_detection_opencv5_homography_timer.py" name="line_detection" output="screen"/> -->
    // launch white lane publisher 
	<!-- <node pkg="particlefilter_simulation_basic" type="rectangle_marker_node" name="rectangle_marker_node"/> -->






	// display with rviz ---------------------------------------------------------
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find localization)/rviz/calibrate_for_bird_eye_view.rviz" />

	<!-- line detection bird's eyes -->

</launch>
<!-- realsenseの起動 -->

<!-- line_detection 白線点群のpublish -->

<!-- 地図のpublisher -->
<!-- rviz -->