<!--
	# Image
		- size: 							640x360
		- color/image_raw 					ON
		- depth/image_rect_raw				ON
		- aligned_depth_to_color/image_raw	ON
		- infra1/image_rect_raw				OFF
		- infra2/image_rect_raw				OFF

		# Specification
		- Depth: size & fps
			1280x720	6,15,30
			848X480		6,15,30,60,90
			640x480		6,15,30,60,90
			640x360		6,15,30,60,90
			480x270		6,15,30,60,90
			424x240		6,15,30,60,90rs.format.z16, 30)

# ストリーミング開始
		- Color: size & fps
			1920x1080	6,15,30
			1280x720	6,15,30
			960x540		6,15,30,60
			848x480		6,15,30,60
			640x480		6,15,30,60
			640x360		6,15,30,60
			424x240		6,15,30,60
			320x240		6,30,60
			320x180		6,30,60

	# PointCloud
		- depth/color/points	OFF

	# IMU/Gyro
		- accel/sample			ON, 62.5 Hz	(250Hz)
		- gyro/sample			ON, 200 Hz	(400Hz)
-->

<launch>
	<arg name="serial_no"			default=""/>
	<arg name="json_file_path"		default=""/>
	<arg name="camera"				default="front_realsense"/>
	<arg name="tf_prefix"			default="$(arg camera)"/>

	<arg name="fisheye_width"		default="640"/>
	<arg name="fisheye_height"		default="360"/>
	<arg name="enable_fisheye"		default="true"/>

	<arg name="depth_width"			default="640"/>
	<arg name="depth_height"		default="360"/>
	<arg name="enable_depth"		default="true"/>

	<arg name="infra_width"			default="640"/>
	<arg name="infra_height"		default="360"/>
	<arg name="enable_infra1"		default="false"/>
	<arg name="enable_infra2"		default="false"/>

	<arg name="color_width"			default="640"/>
	<arg name="color_height"		default="360"/>
	<arg name="enable_color"		default="true"/>

	<arg name="fisheye_fps"			default="30"/>
	<arg name="depth_fps"			default="30"/>
	<arg name="infra_fps"			default="30"/>
	<arg name="color_fps"			default="30"/>
	<!-- gyro_fps: 400	else->200		-->
	<arg name="gyro_fps"			default="200"/>
	<!-- accel_fps: 250	else->63(62.5)	-->
	<arg name="accel_fps"			default="63"/>
	<arg name="enable_gyro"			default="true"/>
	<arg name="enable_accel"		default="true"/>

	<arg name="enable_pointcloud"	default="true"/>
	<arg name="enable_sync"			default="true"/>
	<arg name="align_depth"			default="true"/>

	<arg name="filters"				default=""/>

	<group ns="$(arg camera)">
		<include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
			<arg name="tf_prefix"				value="$(arg tf_prefix)"/>
			<arg name="serial_no"				value="$(arg serial_no)"/>
			<arg name="json_file_path"			value="$(arg json_file_path)"/>

			<arg name="enable_pointcloud"		value="$(arg enable_pointcloud)"/>
			<arg name="enable_sync"				value="$(arg enable_sync)"/>
			<arg name="align_depth"				value="$(arg align_depth)"/>

			<arg name="fisheye_width"			value="$(arg fisheye_width)"/>
			<arg name="fisheye_height"			value="$(arg fisheye_height)"/>
			<arg name="enable_fisheye"			value="$(arg enable_fisheye)"/>

			<arg name="depth_width"				value="$(arg depth_width)"/>
			<arg name="depth_height"			value="$(arg depth_height)"/>
			<arg name="enable_depth"			value="$(arg enable_depth)"/>

			<arg name="color_width"				value="$(arg color_width)"/>
			<arg name="color_height"			value="$(arg color_height)"/>
			<arg name="enable_color"			value="$(arg enable_color)"/>

			<arg name="infra_width"				value="$(arg infra_width)"/>
			<arg name="infra_height"			value="$(arg infra_height)"/>
			<arg name="enable_infra1"			value="$(arg enable_infra1)"/>
			<arg name="enable_infra2"			value="$(arg enable_infra2)"/>

			<arg name="fisheye_fps"				value="$(arg fisheye_fps)"/>
			<arg name="depth_fps"				value="$(arg depth_fps)"/>
			<arg name="infra_fps"				value="$(arg infra_fps)"/>
			<arg name="color_fps"				value="$(arg color_fps)"/>
			<arg name="gyro_fps"				value="$(arg gyro_fps)"/>
			<arg name="accel_fps"				value="$(arg accel_fps)"/>
			<arg name="enable_gyro"				value="$(arg enable_gyro)"/>
			<arg name="enable_accel"			value="$(arg enable_accel)"/>

			<arg name="filters"					value="$(arg filters)"/>
		</include>
	</group>
</launch>
