<launch>
	<arg name="file_name"	default="test.bag"/>
	<arg name="dir_name"	default="/home/hirayama-d/research_ws/bag/"/>
	<!-- gazebo用のrosbag再生 -->
	<node pkg="rosbag" name="my_bag" type="record" output="screen" 
			args="-O $(arg dir_name)$(arg file_name) 
					/beego/my_robo/camera1/image_raw
					/beego/my_robo/camera1/camera_info
					/beego/diff_drive_controller/cmd_vel
					/beego/diff_drive_controller/odom
					/tf
					/tf_static"/>
	<!-- <node pkg="rosbag" name="my_bag" type="record" output="screen" 
			args="-O $(arg dir_name)$(arg file_name) 
					/front_realsense/aligned_depth_to_color/camera_info 
					/front_realsense/aligned_depth_to_color/image_raw 
					/front_realsense/color/camera_info 
					/front_realsense/color/image_raw
					/head_camera/camera_info
					/head_camera/image_raw	
					/joy
					/odom
					/cmd_vel
					/scan
					/amcl_pose
					/tf
					/tf_static"/> -->
</launch>
